:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: B10, D80-70, D80;
}

:import {
  -st-from: "../Foundation/stylable/mixins/calc_rgba.js";
  -st-default: calc_rgba;
}

.root {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  min-height: 30px;
}

.header {
  /* Allow flex-child to shrink when there is a truncated descendant
  See: https://css-tricks.com/flexbox-truncated-text/#article-header-id-3 */
  min-width: 0;
  flex: 1;
}

.breadcrumbsContainer {
  -st-states: absolute;
  margin-left: -10px;
}

:global([dir='rtl']) .breadcrumbsContainer {
  margin-left: 0;
  margin-right: -10px;
}

.breadcrumbsContainer:absolute {
  position: absolute;
}

.titleContainer {
  -st-states: minimized, darkTheme;
  display: flex;
}

.titleContainer:minimized {
  position: absolute;
}

.titleContainer .backButtonWrapper {
  position: relative;
  top: 6px;
  left: -12px;
  z-index: 1;
  width: 36px;
  height: 36px;
}

:global([dir='rtl']) .titleContainer .backButtonWrapper {
  right: -12px;
}

.titleContainer .backButtonWrapper .backButton {
  color: value(B10);
  border: none;
  background-color: transparent;
}

.titleContainer .backButtonWrapper .backButton:hover {
  background-color: calc_rgba(value(D80), 1);
}

.titleContainer .backButtonWrapper .backButton:active {
  background-color: value(D80-70)
}

.titleContainer:darkTheme .backButtonWrapper .backButton {
  color: value(D80);
}

.titleContainer:darkTheme .backButtonWrapper .backButton:hover {
  background-color: calc_rgba(value(D80), 0.3);
}

.titleContainer:darkTheme .backButtonWrapper .backButton:active {
  background-color: calc_rgba(value(D80), 0.2);
}

.titleContainer .backButtonWrapper .backButtonIcon {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  left: -1px;
}

:global([dir='rtl']) .titleContainer .backButtonWrapper .backButtonIcon {
  transform: scaleX(-1);
  right: -1px;
}

.titleContainer .titleColumn {
  /* Allow flex-child to shrink when there is a truncated descendant
  See: https://css-tricks.com/flexbox-truncated-text/#article-header-id-3 */
  min-width: 0;
}

.titleContainer .titleColumn .title {
  height: 48px;
}

.actionsBar {
  -st-states: withBreadcrumbs, minimized;
  height: 30px;
  margin-top: 6px;
  margin-left: auto;
}

.actionsBar:withBreadcrumbs {
  margin-top: 36px;
}

.actionsBar:minimized {
  margin-top: -3px;
}
